@model Event

@{
    ViewData["Title"] = "EventDetail";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}



@{
    if (TempData["EventError"] != null)
    {
        <div class="alert alert-success">
            <p class="text-danger">@(TempData["EventError"] as string)</p>
        </div>
        TempData["EventError"] = null;
    }
}


<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">MainImageFile</h1>
                            <img src="~/Uploads/@Model.MainImage" alt="Alternate Text" style="object-fit:cover" />
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Title</h1>
                            <p class="form-label">@Model.Title</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">WorkTime</h1>
                            <p class="form-label">@Model.WorkTime</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Address</h1>
                            <p class="form-label">@Model.Address</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Content</h1>
                            <p class="form-label">@Html.Raw(Model.Content)</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">OldPrice</h1>
                            <p class="form-label">@Model.OldPrice</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">OldDiscountPrice</h1>
                            <p class="form-label">@Model.OldDiscountPrice</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">NewPrice</h1>
                            <p class="form-label">@Model.NewPrice</p>
                        </div> <div class="form-group">
                                   <h1 class="card-title" style="color:darkred">NewDiscountPrice</h1>
                            <p class="form-label">@Model.NewDiscountPrice</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">PricePercent</h1>
                            <p class="form-label">@Model.PricePercent</p>
                        </div> <div class="form-group">
                                   <h1 class="card-title" style="color:darkred">CreatedDate</h1>
                            <p class="form-label">@Model.CreatedDate</p>
                        </div>
                       <div class="form-group">
                            <div class="col-lg-12">
                                <h1 class="card-title" style="color:darkred">Instructor</h1>
                                <p class="form-label">@Model.Instructor.Name</p>
                            </div>
                        </div>

                        <a class="btn btn-success" asp-area="admin" asp-controller="Event" asp-action="Update" asp-route-id="@Model.Id">Update</a>
                        <a class="btn btn-danger" asp-area="admin" asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Silinməsinə əminsənmi?')">Delete</a>
                        <a class="btn btn-secondary" asp-area="admin" asp-controller="Event" asp-action="Index"> Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
