@model VmBlog
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["BlogError"] != null)
    {
        <div class="alert alert-success">
            <p class="text-danger">@(TempData["BlogError"] as string)</p>
        </div>
        TempData["BlogError"] = null;
    }
}



<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <h1 class="card-title" style="color:darkred">MainImageFile</h1>
                                <img src="~/Uploads/@Model.BlogDetails.MainImage" alt="Alternate Text" style="object-fit:cover" />
                            </div>

                            <div class="form-group">
                                <h1 class="card-title" style="color:darkred">Title</h1>
                                <p class="form-label">@Model.BlogDetails.Title</p>
                            </div>
                            <div class="form-group">
                                <h1 class="card-title" style="color:darkred">Title</h1>
                                <p class="form-label">@Model.BlogDetails.CreatedDate</p>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <h1 class="card-title" style="color:darkred">Content</h1>
                                    <p class="form-label">@Html.Raw(Model.BlogDetails.Content)</p>
                                </div>
                            </div>
                            <div class="form-group" >
                                <h1 class="card-title" style="color:darkred">BlogCategory</h1>
                                <p class="form-label">@Model.BlogDetails.BlogCategory.Name</p>
                            </div>


                            <div class="form-group">
                                <h1 class="card-title" style="color:darkred">BlogCategory</h1>
                                @foreach (var item in Model.BlogDetails.TagToBlogs)
                                {
                                    <p>@item.Tag.Name</p>
                                }
                            </div>
                            <a class="btn btn-success" asp-area="admin" asp-controller="Blog" asp-action="Update" asp-route-id="@Model.BlogDetails.Id">Update</a>
                            <a class="btn btn-danger" asp-area="admin" asp-controller="Blog" asp-action="Delete" asp-route-id="@Model.BlogDetails.Id" onclick="return confirm('Silinməsinə əminsənmi?')">Delete</a>
                            <a class="btn btn-secondary" asp-area="admin" asp-controller="Blog" asp-action="Index"> Back to list</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
