@model Pricing

@{
    ViewData["Title"] = "PricingDetail";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}



@{
    if (TempData["PricingError"] != null)
    {
        <div class="alert alert-success">
            <p class="text-danger">@(TempData["PricingError"] as string)</p>
        </div>
        TempData["PricingError"] = null;
    }
}


<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Title</h1>
                            <p class="form-label">@Model.Title</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">SupTitle</h1>
                            <p class="form-label">@Model.SupTitle</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Price</h1>
                            <p class="form-label">@Model.Price</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Period</h1>
                            <p class="form-label">@Model.Period</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Metod</h1>
                            <p class="form-label">@Model.Metod</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Place</h1>
                            <p class="form-label">@Model.Place</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">MentorTime</h1>
                            <p class="form-label">@Model.MentorTime</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Type</h1>
                            <p class="form-label">@Model.Type</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Support</h1>
                            <p class="form-label">@Model.Support</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">CreatedDate</h1>
                            <p class="form-label">@Model.CreatedDate</p>
                        </div>

                        <a class="btn btn-success" asp-area="admin" asp-controller="Pricing" asp-action="Update" asp-route-id="@Model.Id">Update</a>
                        <a class="btn btn-danger" asp-area="admin" asp-controller="Pricing" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Silinməsinə əminsənmi?')">Delete</a>
                        <a class="btn btn-secondary" asp-area="admin" asp-controller="Pricing" asp-action="Index"> Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

