@model Instructor

@{
    ViewData["Title"] = "InstructorDetail";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}



@{
    if (TempData["InstructorError"] != null)
    {
        <div class="alert alert-success">
            <p class="text-danger">@(TempData["InstructorError"] as string)</p>
        </div>
        TempData["InstructorError"] = null;
    }
}


<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">

                            <h1 class="card-title" style="color:darkred">MainImageFile</h1>
                            <img src="~/Uploads/@Model.MainImage" alt="Alternate Text" style="object-fit:cover" />
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Name</h1>
                            <p class="form-label">@Model.Name</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Surname</h1>
                            <p class="form-label">@Model.Surname</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Position</h1>
                            <p class="form-label">@Model.Position</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Title</h1>
                            <p class="form-label">@Model.Title</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Content</h1>
                            <p class="form-label">@Html.Raw(Model.Content)</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">CreatedDate</h1>
                            <p class="form-label">@Model.CreatedDate</p>
                        </div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">BlogCategory</h1>
                            @foreach (var item in Model.InstructorToSocials)
                            {
                                <p>@item.InstructorSocial.Name</p>
                            }
                        </div>
                        <a class="btn btn-success" asp-area="admin" asp-controller="Instructor" asp-action="Update" asp-route-id="@Model.Id">Update</a>
                        <a class="btn btn-danger" asp-area="admin" asp-controller="Instructor" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Silinməsinə əminsənmi?')">Delete</a>
                        <a class="btn btn-secondary" asp-area="admin" asp-controller="Instructor" asp-action="Index"> Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
